@import url('open_sans.css');

/* fonts */

.font-open-sans
{
    font-family: 'Open Sans', sans-serif;
}

/* styles */

/* :root
{
    padding: 0 !important;
    margin: 0 !important;
} */

body
{
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    overflow: hidden;
}

.btn-previous
{
    position: absolute;
    top: 50vh;
    left: 5vw;
}

.btn-next
{      
    position: absolute;
    top: 50vh;
    right: 5vw;
}

/* .dropdown
{
    position: fixed !important;
    z-index: 2 !important;
} */

.stopwatch-display
{
    width: 5vw;
}